:root {
  --color-1: #ffeeef;
  --color-2: #ffdcde;
  --color-3: #ffb2bb;
  --color-4: #ff6d81;
  --color-5: #ff2040;
  --color-6: #df0006;
  --color-7: #b40003;
  --color-8: #950005;
  --color-9: #7a0004;
  --color-10: #050000;
  --color-middle: #400002;

  --color-primary: #ff0000;
  --color-secondary: #0055ff;
  --color-third: #00ff00;
}
